
@import url('https://fonts.googleapis.com/css2?family=NTR&display=swap%27');
*{
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: "NTR";
}
div{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1{
  font-size: 64px;
  color: #121212;
}
a{
  text-decoration: none;
  /* color: #121212; */
}